<!DOCTYPE html>
<html lang="en-gb">
	<head>
		<title>@ViewData[ "Title" ] - Account System</title>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="~/styles/global.css" type="text/css" asp-append-version="true">
	</head>
	<body>
		<header>
			<h1>Account System</h1>
			<p>This is a demonstration of a perfect user account system that I believe all websites should adopt.</p>
		</header>

		<main>
			@RenderBody()
		</main>

		<footer>
			<p>Made with ❤️ by <a href="https://viral32111.com">viral32111</a>.</p>
			<p>Source available on <a href="https://github.com/viral32111/account-system">the GitHub repository</a>.</p>
		</footer>

		<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
		@await RenderSectionAsync( "Scripts", required: false )
	</body>
</html>
